[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscrt = "==0.12.1"
awsiotsdk = "==1.7.1"
python-dotenv = "*"
pyserial = "*"
paho-mqtt = "*"

[dev-packages]

[requires]
python_version = "3.7"
